---
layout: default
title: Projects
---

<div class="page content" id="projects">
  <h1 class="page-title">
    {{ page.title }}
  </h1>

    <ul class="header-tags">
      {% for tag in site.data.settings.project-tags %}
      <li class="project-tag project-tag-default project-tag-{{ tag.class }}">{{ tag.name }}</li>
      {% endfor %}
    </ul>

  <div class="thumb-container">
    <div class="grid">
      {% for project in site.data.settings.projects %}
      {% assign tags = project.tags | join: ' ' %}
      <div class="grid-item width{{ project.width }} {{ tags }}" data-folder="{{ project.folder }}" data-title="{{ project.name }}">
        <div class="project-container">
          <img class="project-thumb" src="../../assets/images/projects/{{ project.folder }}/thumb{{ project.thumb-extension }}" alt="{{ project.name }}">
          <div class="project-hidable project-text">
            <div class="project-title"></div>
            <div class="project-content"></div>
              <ul class="tag-list">
                Tags:
                {% for tag in project.tags %}
                <li class="project-tag project-tag-inverse project-tag-{{ tag }}">{{ tag }}</li>
                {% endfor %}
              </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</div>