@import 'reset';
// General ======================
$black: #333;
$dark-grey: #555555;
$grey: #999999;


$color-background: #F5F5F5;
$color-active: #FFF;
$color-link: #FFF;

$button-height: 27px;
$button-width: 35px;

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin content-link {
  a {
    color: $black;
    border-bottom: 1px solid $black;
    transition: all .4s ease;

    &:hover {
      color: #fff;
      background-color: $black;
    }
  }
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'merriweather', Georgia, serif;
  color: $black;
}
a {
  text-decoration: none;
  color: $grey;
}
h1, h2, h3, h4 {
  font-weight: bold;
  padding: 2em 0 0.4em;
}
h1 {
  font-size: 3em;
}
@media (max-width: 468px) {
  h1 {
    font-size: 32px;
  }
}
h2 {
  font-size: 32px;
}
@media (max-width: 468px) {
  h2 {
    font-size: 25px;
  }
}
h3 {
  font-size: 20px;
}
@media (max-width: 468px) {
  h3 {
    font-size: 18px;
  }
}
p, span {
  margin: 1.3em 0;
  font-size: 19px;
  line-height: 2;
}
img {
  width: 100%;
  margin: 10px auto;
}
.content {
  ul, ol {
    margin: 10px auto 20px auto;
    list-style: initial;
    padding-left: 30px;
    font-size: 19px;
    line-height: 2;
  }
  @include content-link;
}
@media (max-width: 468px) {
  .content {
    ul, ol {
      font-size: 16px;
    }
  }
}

.highlight {
  padding: 20px;
  font-family: Menlo, Consolas, Monaco, monospace;
  overflow: auto;
}
// Page ======================
.page {
  margin-bottom: 80px;
}
.page-title {
  padding-top: 60px;
}
.post-url {
  @include content-link;
  font-size: 1.1em;
  margin: 10px auto;
  display: inline;
  padding: 0;
}
small {
  font-size: 0.8em;
  font-weight: normal;
}
.post-list {
  li:before {
    content: "\00BB\0020";
    color: $grey;
  }
  &:last-of-type {
    margin-bottom: 80px;
  }
}

// Home ======================
nav,
.container,
footer {
  margin: 0 auto;
  max-width: 700px;
}
header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  transition: top .4s ease;
}

.headroom--unpinned {
  top: -50px;
}

.button-container {
  position: absolute;
  top: 20px;
  right: 20px;
  float: right;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  transition: opacity .25s ease;

  &:hover {
    opacity: .7;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }

  span {
    margin: 0;
    background: $black;
    border: none;
    height: 5px;
    width: $button_width;
    position: absolute;
    top: 0;
    right: 0;
    transition:  all .35s ease;
    cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

.overlay {
  position: fixed;
  background: $black;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;

  &.open {
    opacity: 1;
    visibility: visible;
    height: 100%;

    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;

      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 400;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;

      a {
        display: block;
        position: relative;
        color: $color-link;
        text-decoration: none;
        overflow: hidden;

        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: $color-link;
          transition: .35s;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.links {
  list-style: none;
  font-weight: bold;
  li {
    display: inline;
    padding-right: 15px;
  }
}

.container {
  min-height: 100%;
  margin-bottom: -44px;

  &:after {
    content: "";
    display: block;
  }
}

.blurb {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

footer, .container:after {
  /* .push must be the same height as footer */
    height: 44px;
}

.site-title {
  margin-bottom: 20px;
  margin-top: 0;
  padding: 0;
}

footer {
  border-top: 1px solid #d5d5d5;
}
.links-foot {
  padding: 10px 0;
}

// Projects ===================
.project-list {
  @include content-link;
  @include word-wrap;
  font-size: 2.5em;
  margin: 50px 0 10px;

  li {
    margin-bottom: 30px;
  }
  p {
    color: $dark-grey;
    margin: 0;
  }
}


.project-header {
  text-align: center;
}
.project-description {
  color: $grey;
}
.screenshot {
  width: 100%;
  height: auto;
}

.btn-container {
  text-align: center;
  margin-bottom: 130px;
  margin-top: 40px;
}

.btn {
  display: inline-block;
  width: 170px;
  font-size: 19px;
  padding: 13px 0;
  border: 1px solid $black;
  margin: 15px;
}

.btn-container.gav {
  margin-bottom: 60px;
  margin-top: 0;

  .btn {
    width: 200px;
  }
}


// Blog =======================
.post {
  margin-bottom: 80px;
}
.post-title {
  margin-bottom: 10px;
  font-size: 35px;
  @include content-link;
}
.meta {
  margin-bottom: 30px;
}
.meta-cat {
  margin-left: 10px;
}
.read-more {
  text-align: right;
  margin-top: 20px;
}


// Blog Pagination
.pagination {
  text-align: center;
  margin-bottom: 124px;
}
.older, .newer{
  font-size: 20px;
}
.older {
  margin-left: 20px;
}

// Post
#disqus_thread {
    margin-top: 80px;
}
.tags {
  margin-top: 20px;
}
.tag {
  font-weight: normal;
  background-color: #eee;
}
// Post pagination
.next, .prev {
  width: 45%;
}
.next {
  float: left;
}
.prev {
  float: right;
  text-align: right;
}
.posts-nav {
  margin-top: 80px;
  margin-bottom: 80px;
  // Fix collapsing
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Responsive ==================
@media (max-width: 768px) {
  nav,
  .container,
  footer {
    width: 85%;
  }
}

@media (max-width: 468px) {
  .site-title {
    font-size: 2em;
  }

  // project list
  .project-list {
    font-size: 1.7em;
  }

  // blog
  .post {
    font-size: 1em;
  }
  .post-title {
    font-size: 32px;
  }
  .date, .meta {
    font-size: 14px;
  }
  .content {
    p, span {
      font-size: 1em;
    }
  }
}